.containerCard{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define 3 colunas */
    grid-gap: 20px; /* Espaçamento entre os itens */
    padding: 20px;
}

.contentCard{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    color: black;
    text-decoration: none;
}

.contentCard img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.textContent{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.textContent h2 {
    font-size: 18px;
    margin: 10px 0;
}
  
.textContent p {
    font-size: 14px;
    color: #555;
}



@media screen and (min-width: 643px) and (max-width: 945px) {
    .containerCard {
      grid-template-columns: repeat(2, 1fr); /* Define 2 colunas entre 643px e 945px */
    }
}

@media screen and (max-width: 643px) {
    .containerCard {
      grid-template-columns: repeat(1, 1fr);
    }
}