
.containerDate{
    display: flex;
    width: fit-content;
    height: fit-content;
}

.containerDate h1{
    font-family: 'Instrument Serif', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
}

@media screen and (max-width: 945px){
    .containerDate h1{
        font-size: 1rem;
    }
}